<nav class="bg-blue-500 p-4">
    <div class="container mx-auto flex justify-between items-center">
        <a href="{{ path('homepage') }}" class="text-white text-lg font-bold">Dentist Booking</a>
        <ul class="flex space-x-4">
            <li><a href="{{ path('homepage') }}" class="text-white">Book an Appointment</a></li>
            <hr>
            <li><a href="{{ path('booking_list') }}" class="text-white">List of Appointments</a></li>
        </ul>
    </div>
</nav>
